<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fresh News</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <center>
      <h1>Fresh News <sup>KH</sub><br />ព័ត៍មានក្តៅសាច់</h1>
    </center>
    <br />
    <h2><u>ព័ត៍មានអន្តជាតិ</u></h2><hr>
     <p1>
      <strong><u>Will Presidents Trump,Zelensky and Putin meet to make a deal to end the
      Ukraine war?</u></strong><br><hr>
     </p1>
     <p>President Donald Trump has ruled out sending US troops to Ukraine as part of any possible security guarantee. Speaking to US TV, the president said any boots on the ground would be British, French or German but did suggest they would have US air support.
        <br><br>Adam is joined by BBC diplomatic correspondent James Landale from London plus Vitaliy Shevchenko, host of Ukrainecast and Asma Khalid host of the Global Story in Washington to discuss the latest we’ve learned about how security guarantees for Ukraine might work and when and where a bilateral meeting between Presidents Vladimir Putin and Volodymyr Zelensky could take place.</p>
     <img height="500px" src="../images/PandZ.png" alt="Putin and Zalengski"><hr><br>
    <p1><strong><u>Ukraine security guarantees to be discussed as Nato military chiefs hold meeting!</u></strong></p1><hr>
    <p>Nato military chiefs are set to hold a virtual meeting to discuss security guarantees for Ukraine in the event of a peace deal with Russia.
       The Kremlin is playing down the chance of an imminent face-to-face summit between President Vladimir Putin and Ukrainian leader Volodymyr Zelensky, while the UK's military chief, Admiral Tony Radakin, is travelling to Washington for discussions on the deployment of a reassurance force in Ukraine.
       <br><br>But, Russian Foreign Minister Sergei Lavrov said questions of security “cannot be resolved without Russia”, adding that he did not hear any constructive ideas from European leaders from their meeting with US President Donald Trump.</p>
     <a href="https://youtu.be/DoL9CACr4KE?si=V3Q1mfCn744E4UNh" target="_blank">Read more</a><br>
     <img height="500px" src="../images/image.png" alt="images"><hr><br>
     <p1><u><strong>Robot athletes compete at World Humanoid Games</strong></u></p1>
     <p>The first World Humanoid Robot Games took place in Beijing, China, with participants from 16 countries including the US, Germany and Japan.
 
Robotic athletes attempted to compete across a range of events including athletics, football, dance and martial arts.
<br><br>Organisers said the purpose of the event is to trial and refine current robotics, with sports being a way to test a robot's decision-making, motor skills and controllers that could be later applied in real-life settings like factories and homes.
<br><br>It's all part of China's push to become a global leader in humanoid robotics and the government has a national plan to build a world-class humanoid industry by 2027.</p>
     <a href="https://youtu.be/5Y-tElcmJVE?si=Vp3Ej6QRPbQJUKeK" target="_blank">Read more</a><br>
     <img height="500px" src="../images/Robot.png" alt="Robot"><hr><br>
     <p1><strong><u>Donald Trump's global tariffs take effect</u></strong></p1><hr>
     <p>US President Donald Trump's sweeping new tariffs on more than 90 countries around the world have come into effect.
 
Just before the deadline for deals to be agreed to cut or avoid the import taxes Trump posted on his Truth Social platform that billions of dollars were now flowing into the US due to tariffs.
<br><br>Earlier, the president hit India with a 50% tariff, which will take effect on 27 August unless it stops buying Russian oil.
<br><br>Trump also threatened a 100% tariff on foreign-made computer chips as he pushes tech firms to invest in the US.</p>
     <a href="https://youtu.be/6ZFKHzKyfO4?si=oLOws4QQjY1iyDbL" target="_blank">Read more</a><br>
     <img height="500px" src="../images/Traffic.png" alt="Traffic"><hr><br>
     <p1><strong><u>Cambodians join state rally as border dispute with Thailand intensifies</u></strong></p1><hr>
     <p>Thousands of Cambodians joined a state-organized march to support the government in an ongoing border dispute with Thailand triggered by the death of a Cambodian soldier last month.</p>
     <a href="https://youtu.be/Kp2nrCG12GU?si=6LA0zXvO_5P_aKnb" target="_blank">Read more</a><br>
     <img height="500px" src="../images/KH.png" alt="KH">
     <img height="500px" src="../images/KH2.png" alt="KH2"><hr><br>
     <h3>Produst By:</h3>
     <p3>
        Chun Viseth
        <br>Lim Sochetra
        <br>Bora Vichheka
        <br>Bora Ratana
        <br>Sokchan Linda
     </p3>
     <h4><Strong>Social</Strong></h4>
     <p4>
        <a href="https://web.facebook.com/jamexmean/" target="_blank">Facebook</a><br>
        <a href="https://www.tiktok.com/@sethxmean?is_from_webapp=1&sender_device=pc" target="_blank">TIKTOK</a><br>
        <a href="https://www.instagram.com/jamexmean/" target="_blank">Intagram</a><br>
        <a href="https://t.me/Ilysm_03032022" target="_blank">Telegram</a><hr>
     </p4>
  </body>
</html>
